* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat arm", sans-serif;
}

.header {
  padding: 20px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100000;
  transition: all 0.3s linear;
}
@media (max-width: 1200px) {
  .header {
    padding: 20px 30px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 12px 40px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 9px 16px;
  }
}
.header div {
  display: flex;
  align-items: center;
}
.header__toggler {
  display: none !important;
  z-index: 10000;
}
.header__toggler:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__toggler {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding-left: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 1px rgba(5, 129, 135, 0.1);
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .header__toggler {
    width: 32px;
    height: 32px;
    padding-left: 4px;
  }
}
.header__toggler div {
  width: 24px;
  height: 3px;
  background-color: #3C3A3A;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.header__toggler div:nth-child(2) {
  margin: 4px 0;
}
.header__toggler div:nth-child(3) {
  width: 16.7px;
}
.header .closeMenu div {
  transition: all 0.2s linear;
}
.header .closeMenu div:first-child {
  transform: translate(0px, 6px) rotate(45deg);
}
.header .closeMenu div:nth-child(2) {
  transform: translate(-1px, -1px) rotate(-45deg);
}
.header .closeMenu div:last-child {
  display: none;
}
.header__navbar__logo {
  margin-right: 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__navbar__logo {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .header__navbar__logo {
    margin-right: 0;
    position: absolute;
    top: 18.5px;
    left: 42%;
  }
}
@media (max-width: 576px) {
  .header__navbar__logo {
    margin-right: 0;
    position: absolute;
    top: 18.5px;
    left: 34%;
  }
}
.header__navbar__logo a {
  width: 103px;
  height: 23px;
}
@media (max-width: 576px) {
  .header__navbar__logo a {
    width: 91px;
    height: 20px;
  }
}
@media (max-width: 576px) {
  .header__navbar__logo a svg {
    width: 91px;
    height: 20px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
  }
}
.header__navbar__menu__items__link {
  margin: 0 10px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__navbar__menu__items__link {
    margin: 0 5px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items__link {
    margin: 0;
    width: 100%;
  }
  .header__navbar__menu__items__link:nth-child(3) {
    margin-top: 25px;
  }
  .header__navbar__menu__items__link:nth-child(5) {
    margin: 25px 0;
  }
}
.header__navbar__menu__items__link a {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  transition: all 0.3s linear;
}
.header__navbar__menu__items__link a:hover {
  color: #058187;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__navbar__menu__items__link a {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items__link a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items__link .navLink {
    width: 100%;
    justify-content: space-between !important;
  }
}
.header__navbar__menu__items__link .navLink a {
  font-weight: 600;
}
.header__navbar__menu__items__link .navLink .iconNavLink {
  display: none;
  transition: all 0.3s linear;
}
@media (max-width: 992px) {
  .header__navbar__menu__items__link .navLink .iconNavLink {
    display: block;
  }
}
.header__navbar__menu__items__link .navLink .iconNavLink .activeIcon {
  display: none;
}
.header__navbar__menu__items__link .navLink .rotateIconNavLink {
  transform: rotateX(180deg);
  transition: all 0.3s linear;
}
.header__navbar__menu__items__link .navLink .rotateIconNavLink .defaultIcon {
  display: none;
}
.header__navbar__menu__items__link .navLink .rotateIconNavLink .activeIcon {
  display: block;
}
.header__navbar__menu__items .dropdownMenu {
  display: none;
}
@media (max-width: 992px) {
  .header__navbar__menu__items .dropdownMenu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 5px;
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items .dropdownMenu .dropdownItem {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items .dropdownMenu .dropdownItem a {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    transition: all 0.3s linear;
  }
  .header__navbar__menu__items .dropdownMenu .dropdownItem a:hover {
    color: #058187;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__items .openDropdownMenu {
    display: flex;
  }
}
.header__navbar__menu__search {
  margin-left: 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__navbar__menu__search {
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__search {
    margin: 49px 0px 20px;
    width: 100%;
  }
}
.header__navbar__menu__search form {
  position: relative;
}
@media (max-width: 992px) {
  .header__navbar__menu__search form {
    width: 100%;
  }
}
.header__navbar__menu__search form span svg {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #A1A1A1;
}
@media (max-width: 992px) {
  .header__navbar__menu__search form span svg {
    top: 9px;
    left: 14px;
    height: 12px;
  }
}
.header__navbar__menu__search form #search {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding: 0 20px 0 42px;
  font-size: 12px;
  background-color: #E8E8E8;
  color: #6D6D6D;
  transition: all 0.3s linear;
}
.header__navbar__menu__search form #search:hover {
  box-shadow: 0px 4px 4px rgba(5, 129, 135, 0.15);
}
.header__navbar__menu__search form #search:focus {
  background-color: #fff;
  border: 1px solid #058187;
  box-shadow: none;
}
@media (min-width: 992px) and (max-width: 1250px) {
  .header__navbar__menu__search form #search {
    padding: 0 20px 0 42px;
    width: 170px;
  }
}
@media (max-width: 992px) {
  .header__navbar__menu__search form #search {
    width: 100%;
    border-radius: 7px;
    padding: 14px 14px 14px 38px;
  }
}
.header__navbar__menu__search form ::-moz-placeholder {
  color: #A2A2A2;
  font-size: 12px;
}
.header__navbar__menu__search form :-ms-input-placeholder {
  color: #A2A2A2;
  font-size: 12px;
}
.header__navbar__menu__search form ::placeholder {
  color: #A2A2A2;
  font-size: 12px;
}
@media (max-width: 992px) {
  .header__navbar__menu__search form ::-moz-placeholder {
    font-size: 11px;
  }
  .header__navbar__menu__search form :-ms-input-placeholder {
    font-size: 11px;
  }
  .header__navbar__menu__search form ::placeholder {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .header__navbar .responsiveMenu {
    position: absolute;
    display: flex !important;
    flex-direction: column-reverse;
    width: 280px;
    padding: 12px 40px 30px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 4px 4px rgba(5, 129, 135, 0.5);
    background-color: white;
    z-index: 10;
    top: 10%;
    left: 0;
  }
}
@media (max-width: 320px) {
  .header__navbar .responsiveMenu {
    width: 320px;
  }
}
.header__loginUserBlock__loginBlock a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 32px;
  margin: 0 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__loginUserBlock__loginBlock a {
    margin: 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header__loginUserBlock__loginBlock a {
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
.header__loginUserBlock__loginBlock a:nth-child(1) {
  color: #058187;
  background-color: #F0F0F0;
}
.header__loginUserBlock__loginBlock a:nth-child(1):hover {
  border: 1px solid rgba(5, 129, 135, 0.5019607843);
  background-color: rgba(5, 129, 135, 0.1019607843);
}
.header__loginUserBlock__loginBlock a:nth-child(1):focus {
  background-color: rgba(5, 129, 135, 0.2);
}
@media (max-width: 768px) {
  .header__loginUserBlock__loginBlock a:nth-child(1) {
    width: auto;
    height: auto;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.69);
  }
  .header__loginUserBlock__loginBlock a:nth-child(1):hover {
    color: #058187;
    background: none;
    border: none;
  }
  .header__loginUserBlock__loginBlock a:nth-child(1):focus {
    background: none;
  }
}
.header__loginUserBlock__loginBlock a:nth-child(2) {
  color: #fff;
  background-color: #058187;
}
.header__loginUserBlock__loginBlock a:nth-child(2):hover {
  background-color: #026368;
}
.header__loginUserBlock__loginBlock a:nth-child(2):focus {
  background-color: #004A4E;
}
@media (max-width: 768px) {
  .header__loginUserBlock__loginBlock a:nth-child(2) {
    display: none;
  }
}
.header__loginUserBlock__userBlock__addStatement a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #058187;
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header__loginUserBlock__userBlock__addStatement a {
    padding: 8px 12px;
    font-size: 13px;
    line-height: 16px;
  }
}
.header__loginUserBlock__userBlock__addStatement a:hover {
  background-color: #026368;
}
.header__loginUserBlock__userBlock__addStatement a:focus {
  background-color: #004A4E;
}
@media (max-width: 992px) {
  .header__loginUserBlock__userBlock__addStatement a {
    display: none;
  }
}
.header__loginUserBlock__userBlock__messagePage {
  margin: 0 30px;
}
@media (min-width: 992px) and (max-width: 1220px) {
  .header__loginUserBlock__userBlock__messagePage {
    margin: 0 20px;
  }
}
.header__loginUserBlock__userBlock__messagePage a {
  position: relative;
  width: 28px;
  height: 22px;
}
.header__loginUserBlock__userBlock__messagePage a span {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #058187;
}
@media (max-width: 992px) {
  .header__loginUserBlock__userBlock__messagePage a {
    display: none;
  }
}
.header__loginUserBlock__userBlock__notificationPage a {
  position: relative;
  width: 19px;
  height: 22px;
}
.header__loginUserBlock__userBlock__notificationPage a span {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #058187;
}
@media (max-width: 992px) {
  .header__loginUserBlock__userBlock__notificationPage a {
    display: none;
  }
}
.header__loginUserBlock__userBlock__userBox {
  margin-left: 30px;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1220px) {
  .header__loginUserBlock__userBlock__userBox {
    margin-left: 18px;
  }
}
@media (max-width: 576px) {
  .header__loginUserBlock__userBlock__userBox__userImage {
    width: 27px;
    height: 27px;
  }
  .header__loginUserBlock__userBlock__userBox__userImage img {
    width: 100%;
    height: 100%;
  }
}
.header__loginUserBlock__userBlock__userBox__userImage:hover {
  cursor: pointer;
}
.header__loginUserBlock__userBlock__userBox__userSection {
  position: absolute;
  bottom: -311px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(5, 129, 135, 0.1490196078);
  flex-direction: column;
  width: 320px;
  z-index: 3;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .header__loginUserBlock__userBlock__userBox__userSection {
    bottom: -302px;
  }
}
@media (max-width: 340px) {
  .header__loginUserBlock__userBlock__userBox__userSection {
    right: -16px;
  }
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection {
  box-shadow: 0px 1px 2px rgba(5, 129, 135, 0.1490196078);
  width: 100%;
  padding: 7px 16px;
}
@media (min-width: 992px) {
  .header__loginUserBlock__userBlock__userBox__userSection .headerUserSection {
    justify-content: flex-end;
  }
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection {
  margin-right: 14px;
}
@media (min-width: 992px) {
  .header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection {
    display: flex;
  }
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .messageBox a {
  position: relative;
  width: 23px;
  height: 18px;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .messageBox a span {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 15px;
  font-size: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #058187;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .notificationBox {
  margin: 0 19px;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .notificationBox a {
  position: relative;
  width: 16px;
  height: 18px;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .notificationBox a span {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 15px;
  height: 15px;
  font-size: 9px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #058187;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .addStatementBox a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  width: 161px;
  height: 30px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #058187;
  transition: all 0.3s ease-in;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .addStatementBox a:hover {
  background-color: #026368;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .buttonsUserSection .addStatementBox a:focus {
  background-color: #004A4E;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection {
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 1px 1px rgba(5, 129, 135, 0.1019607843);
  border-radius: 5px;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection button:hover {
  cursor: pointer;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection button div {
  width: 23px;
  height: 2px;
  border-radius: 2px;
  background-color: #3C3A3A;
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection button div:nth-child(1) {
  transform: rotate(45deg) translateX(1px);
}
.header__loginUserBlock__userBlock__userBox__userSection .headerUserSection .closeUserSection button div:nth-child(2) {
  transform: rotate(-45deg) translateX(1px);
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox {
  flex-direction: column;
  width: 100%;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 16px 25px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .userImg {
  border-radius: 50%;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .userName {
  color: #626262;
  font-size: 15px;
  line-height: 18px;
  margin: 0 45px 0 15px;
  display: flex;
  flex-direction: column;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .userName span {
  font-weight: 600;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight {
  width: 60px;
  height: 25px;
  border-radius: 13px;
  position: relative;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight div {
  width: 50%;
  height: 100%;
  padding: 2px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight div:first-child {
  background-color: #B3E8FF;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight div:last-child {
  background-color: #2D3151;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight #dayOrNight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 12px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight #dayOrNight:hover {
  cursor: pointer;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight #dayOrNight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18.5px;
  width: 42px;
  height: 25px;
  background-color: #D8F3FF;
  border-radius: 13px;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userInfo .dayAndNight #dayOrNight:checked::before {
  left: 0;
  background-color: #444C89;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections {
  flex-direction: column;
  width: 100%;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount {
  width: 100%;
  padding: 7px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 129.09%;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover {
  background-color: #04A2AA;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover .iconMoney {
  background-color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover .iconMoney svg:first-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover .iconMoney svg:last-child {
  display: block;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover .theAmountOfMoney {
  background-color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount:hover a {
  color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount div a {
  font-weight: 600;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount div .iconMoney {
  width: 18px;
  height: 18px;
  background-color: #999999;
  border-radius: 6px;
  padding-top: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount div .iconMoney svg:last-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount div a {
  color: #626262;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney {
  padding: 2px 10px;
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney .topUpTheAccount {
  width: 17px;
  height: 17px;
  border-radius: 6px;
  background-color: #058187;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney .topUpTheAccount div {
  width: 9px;
  height: 3px;
  background-color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney .topUpTheAccount div:nth-child(1) {
  transform: translateX(4.5px) rotate(90deg);
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney .topUpTheAccount div:nth-child(2) {
  transform: translateX(-4px);
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .myAccount .theAmountOfMoney span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #D82F43;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages {
  width: 100%;
  padding: 7px 16px;
  font-size: 12px;
  line-height: 129.09%;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages:hover {
  background-color: #04A2AA;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages:hover span {
  background-color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages:hover span svg:first-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages:hover span svg:last-child {
  display: block;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages:hover a {
  color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages span {
  width: 18px;
  height: 18px;
  background-color: #999999;
  border-radius: 6px;
  padding-top: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages span svg:last-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .languages a {
  color: #626262;
  font-weight: 600;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings {
  width: 100%;
  padding: 7px 16px;
  font-size: 12px;
  line-height: 129.09%;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings:hover {
  background-color: #04A2AA;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings:hover span {
  background-color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings:hover span svg:first-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings:hover span svg:last-child {
  display: block;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings:hover a {
  color: #fff;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings span {
  width: 18px;
  height: 18px;
  background-color: #999999;
  border-radius: 6px;
  padding-top: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings span svg:last-child {
  display: none;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .settings a {
  color: #626262;
  font-weight: 600;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .logout {
  width: 100%;
  padding: 7px 16px;
  font-size: 12px;
  line-height: 129.09%;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .logout span {
  width: 18px;
  height: 18px;
  background-color: #ff0000;
  border-radius: 6px;
  padding-top: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .logout a {
  color: #626262;
  font-weight: 600;
  transition: all 0.3s linear;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .logout:hover {
  background-color: #04A2AA;
}
.header__loginUserBlock__userBlock__userBox__userSection .contentUserBox .userSections .logout:hover a {
  color: #fff;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 7px 29px 0px rgba(223, 239, 240, 0.9);
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 992px) {
  .sticky {
    padding: 12px 40px;
  }
}
@media (max-width: 576px) {
  .sticky {
    padding: 9px 16px;
  }
}
.sticky .header__loginUserBlock__userBlock__userBox__userSection {
  bottom: -306px;
}
@media (max-width: 992px) {
  .sticky .header__loginUserBlock__userBlock__userBox__userSection {
    bottom: -303px;
  }
}/*# sourceMappingURL=Header.css.map */