* {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 100px;
  padding: 75px 70px;
  position: relative;
  background: #F9F9F9;
  box-shadow: 0px -4px 4px rgba(5, 129, 135, 0.15);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer {
    padding: 70px 20px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .footer {
    padding: 60px 45px 35px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 40px 15px 35px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .footer__content {
    flex-direction: column-reverse;
  }
}
.footer__content__logoAboutBlock {
  width: 21%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer__content__logoAboutBlock {
    width: 25%;
  }
}
@media (max-width: 992px) {
  .footer__content__logoAboutBlock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}
.footer__content__logoAboutBlock__border {
  z-index: 1;
}
@media (max-width: 992px) {
  .footer__content__logoAboutBlock__border {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .footer__content__logoAboutBlock__border__logoBox {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .footer__content__logoAboutBlock__border__logoBox a svg {
    width: 90px;
    height: 20px;
  }
}
.footer__content__logoAboutBlock__border__aboutBox {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  line-height: 129%;
  margin: 36px 0 17px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .footer__content__logoAboutBlock__border__aboutBox {
    width: 380px;
    text-align: center;
    margin: 0 auto;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .footer__content__logoAboutBlock__border__aboutBox {
    width: 255px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
  }
}
.footer__content__logoAboutBlock__border__aboutBox p span {
  padding: 0 4px;
}
.footer__content__logoAboutBlock__followUsBlock__heading {
  margin-bottom: 10px;
}
.footer__content__logoAboutBlock__followUsBlock__heading p {
  font-size: 20px;
  line-height: 205%;
  font-weight: 600;
}
.footer__content__logoAboutBlock__followUsBlock__iconBox {
  display: flex;
}
.footer__content__logoAboutBlock__followUsBlock__iconBox div {
  width: 31px;
  height: 31px;
}
.footer__content__logoAboutBlock__followUsBlock__iconBox div:first-child {
  margin-right: 15px;
}
.footer__content__footerLinks {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer__content__footerLinks {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .footer__content__footerLinks {
    flex-direction: column;
    width: 100%;
  }
}
.footer__content__footerLinks__informationBlock {
  width: 45%;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__informationBlock {
    width: 100%;
  }
}
.footer__content__footerLinks__informationBlock ul .infoBox {
  line-height: 205%;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock {
    display: flex;
    justify-content: space-between;
  }
}
.footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock__heading {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s linear;
}
.footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock__iconsArrow {
  display: none;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock__iconsArrow {
    display: block;
  }
}
.footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock__iconsArrow span:last-child {
  display: none;
}
.footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock .rotateArrow .defaultIcon {
  display: none;
}
.footer__content__footerLinks__informationBlock ul .infoBox__headingIconsBlock .rotateArrow .activeIcon {
  display: block;
  transform: rotateX(180deg);
  transition: all 0.3s linear;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__informationBlock ul .infoBox ul {
    display: none;
  }
}
.footer__content__footerLinks__informationBlock ul .infoBox ul .infoLink a {
  color: #000000;
  font-size: 18px;
  transition: all 0.3s linear;
}
.footer__content__footerLinks__informationBlock ul .infoBox ul .infoLink a:hover {
  color: #058187;
}
.footer__content__footerLinks__informationBlock ul .infoBox .openLinks {
  display: block;
}
.footer__content__footerLinks__feedbackBlock {
  width: 45%;
  z-index: 1;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__feedbackBlock {
    width: 100%;
  }
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox {
  line-height: 205%;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock {
    display: flex;
    justify-content: space-between;
  }
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock__heading {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s linear;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock__heading {
    margin: 10px 0;
  }
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock__iconsArrow {
  display: none;
}
@media (max-width: 992px) {
  .footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock__iconsArrow {
    display: block;
  }
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock__iconsArrow .activeIcon {
  display: none;
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock .rotateArrow .defaultIcon {
  display: none;
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox__headingIconsBlock .rotateArrow .activeIcon {
  display: block;
  transform: rotateX(180deg);
}
@media (max-width: 992px) {
  .footer__content__footerLinks__feedbackBlock ul .feedbackBox ul {
    display: none;
  }
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox ul .emailBox span {
  margin-right: 15px;
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox ul .emailBox a {
  font-size: 18px;
  color: #000000;
  transition: all 0.3s linear;
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox ul .emailBox a:hover {
  color: #058187;
}
.footer__content__footerLinks__feedbackBlock ul .feedbackBox .openLinks {
  display: block;
}
.footer__bg {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 992px) {
  .footer__bg span:first-child {
    display: none;
  }
}
.footer__bg span:nth-child(2) {
  display: none;
}
@media (min-width: 577px) and (max-width: 992px) {
  .footer__bg span:nth-child(2) {
    display: block;
  }
}
.footer__bg span:nth-child(3) {
  display: none;
}
@media (max-width: 576px) {
  .footer__bg span:nth-child(3) {
    display: block;
  }
}/*# sourceMappingURL=Footer.css.map */